{% extends "base.html" %}
{% load static %}


{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col-12 col-md-6">
            <hr>
            <h2 class="logo-font mb-4">Sustainable Life Tips</h2>
            <hr>
            <h5 class="text-muted">Add any information you like here to give people tips on living a sustainable life!
            </h5>
            <hr>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6">
            <ul>
                {% for post in post_list %}
                <li>{{ post.text }}</li>
                {% endfor %}
            </ul>
            <div><a href="{% url 'post_new' %}" class="btn btn-dark ml-3 mb-3">
                    <span class="text-uppercase">Add a Tip</span>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}