html {
    height: 100%;
}

body {
    background: url('/media/background_image.webp') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 184px);
    color: #555;
    font-family: 'Oswald', sans-serif;
}


.go-shopping-button {
    background: white;
    color: black;
    min-width: 200px;
}

.logo-font {
    text-transform: uppercase;
}

.bg-black {
    background:green;
}